
.pieChart{
	
    display:block; 
    height: 600 px; 
    width: 600px; 
    left: 50%;
	top: 50%;
	margin-left: 500px; /* This is half the width */
	margin-top: 100px; /* This is half the height */

}

canvas{
    position: relative;
    display: block;
    width: 600px;
	height: 600px;
	margin: 0px;
}
